@tailwind base;
@tailwind components;
/*--------------------*/
html {
  scroll-behavior: smooth;
}
.container {
  @apply px-4;
}
.overflow-y-auto {
  @apply overflow-auto bg-white bg-no-repeat;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
/*----------link----------*/
.link {
  @apply underline text-proprietary-500;
}
.link:hover {
  @apply text-proprietary-300;
}
.link:visited {
  @apply text-proprietary-800;
}
/*----------button----------*/
.btn {
  @apply font-semibold py-2 px-4 rounded text-center;
}
.btn-primary {
  @apply bg-proprietary-500 text-red-100;
}
.btn-primary:hover {
  @apply bg-proprietary-400;
}
.btn-primary:focus {
  @apply bg-proprietary-400;
}
.btn-secondary {
  @apply border-2 border-proprietary-500 text-proprietary-500 bg-white;
}
.btn-secondary:hover {
  @apply border-2 border-proprietary-400 text-proprietary-400 bg-white;
}
.btn-secondary:focus {
  @apply border-2 border-proprietary-400 text-proprietary-400 bg-white;
}
/*----------Navbar----------*/
nav {
  @apply bg-proprietary-500 text-red-100;
}
nav .container {
  @apply mx-auto py-3 flex items-center justify-between;
}
nav #navbar-logo {
  @apply text-xl font-bold select-none;
}
nav .navbar-right {
  @apply float-right;
}
nav .navbar-right a {
  @apply font-semibold px-2 text-xl;
}
@screen sm {
  nav #navbar-logo {
    @apply text-2xl;
  }
  nav .navbar-right a {
    @apply text-lg;
  }
}
/*----------Header----------*/
header {
  @apply my-4 text-center;
}
@screen lg {
  header {
    @apply relative my-8;
  }
}
/*----------Footer----------*/
footer {
  @apply bg-gray-800 text-gray-500;
}
footer hr {
  @apply border-gray-700 my-4;
}
footer .container {
  @apply mx-auto py-4;
}
.footer-upper-section {
  @apply flex flex-row-reverse justify-between;
}
.footer-links {
  @apply text-gray-400 uppercase;
}
.footer-links a {
  @apply mx-4 my-2 block;
}
.footer-lower-section {
  @apply uppercase text-center;
}
.footer-legal {
  @apply flex flex-col;
}
.footer-legal .footer-logo {
  @apply text-2xl text-proprietary-500 font-semibold select-none;
}
.footer-legal .footer-social-links {
  @apply my-2 text-base;
}
.footer-legal .footer-legal-links a {
  @apply block;
}
@screen md {
  .footer-upper-section {
    @apply flex-col items-center justify-start;
  }
  .footer-links a {
    @apply my-0 inline-block;
  }
  .footer-legal {
    @apply items-center;
  }
  .footer-legal .footer-logo {
    @apply hidden;
  }
  .footer-legal .footer-social-links {
    @apply inline-block;
  }
  .footer-legal .footer-legal-links a {
    @apply inline-block;
  }
}
/*----------page-title----------*/
.page-title {
  @apply text-proprietary-500 text-xl font-semibold;
}
@screen md {
  .page-title {
    @apply text-2xl;
  }
}
/*----------alert----------*/
.alert {
  @apply flex w-full p-2 my-4 rounded;
}
@screen lg {
  .alert {
    @apply p-4 my-8 rounded;
  }
  .alert.info .icon {
    @apply mr-4;
  }
}
.alert.info {
  @apply bg-blue-100;
}
.alert.info .icon {
  @apply mr-2;
}
.alert.info .icon i {
  @apply text-xl text-blue-700;
}
.alert.info h6 {
  @apply font-semibold text-blue-800;
}
/*----------form-sections----------*/
.form-section.title {
  @apply text-gray-800 font-semibold;
}
.form-section.subtitle {
  @apply flex items-center justify-between;
}
.form-section.subtitle h3 {
  @apply text-sm text-gray-600 font-semibold;
}
.form-section.subtitle p {
  @apply flex-none text-sm text-proprietary-500;
}
@screen sm {
  .form-section.title {
    @apply text-xl;
  }
  .form-section.subtitle h3 {
    @apply text-base;
  }
  .form-section.subtitle p {
    @apply text-base;
  }
}
/*----------form-row----------*/
.form-row {
  @apply flex flex-wrap -mx-2;
}
.form-row label {
  @apply text-gray-700 px-2 my-1;
}
.form-row input,select {
  @apply w-full;
}
@screen sm {
  .form-row {
    @apply my-4;
  }
}
@screen md {
  .form-row {
    @apply -mx-4;
  }
  .form-row label {
    @apply px-4 my-0;
  }
}
/*----------Breadcrumbs----------*/
.breadcrumbs {
  @apply float-left text-gray-700 py-2;
}
@screen lg {
  .breadcrumbs {
    @apply absolute my-1 float-none top-0;
  }
}
.breadcrumbs a {
  @apply underline;
}
/*----------Modal----------*/
div[id^="modal-container"] {
  @apply fixed left-0 top-0 w-full h-full bg-gray-700 bg-opacity-75 opacity-0 invisible;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
div[id^="modal-container"] .modal {
  @apply absolute bg-white rounded p-4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div[id^="modal-container"] .modal .content {
  @apply mx-2;
}
div[id^="modal-container"] .modal .title {
  @apply font-semibold text-gray-800;
}
div[id^="modal-container"] .modal .subtitle {
  @apply text-gray-700;
}
div[id^="modal-container"] .modal-icon {
  @apply float-left;
}
div[id^="modal-container"] .modal-close {
  @apply float-right text-xl text-gray-600;
  cursor: pointer;
}
div[id^="modal-container"] .modal-close:hover {
  @apply text-gray-700;
}
div[id^="modal-container"].show-modal {
  @apply opacity-100 visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.form-checkbox {
  @apply mr-1 text-proprietary-500;
}
@screen sm {
  .form-checkbox {
    @apply mr-2;
  }
}
div[id^="modal-container"] .content {
  max-height: 80vh;
}
div[id^="modal-container"] .content label:not(.star) {
  @apply text-gray-700 block;
}
div[id^="modal-container"] .content .title {
  @apply w-full uppercase text-center my-2 m-0;
}
div[id^="modal-container"] .content .subtitle {
  @apply text-gray-700 font-semibold mt-1;
}
/*----------Sidebar----------*/
@screen sm {
  div[id^="modal-container-sm"] {
    @apply static inset-auto bg-transparent bg-opacity-100 visible opacity-100;
    width: auto;
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-sm"] .modal {
    @apply static bg-transparent rounded-none p-0 inset-auto w-full h-full;
    transform: none;
  }
  div[id^="modal-container-sm"] .modal .content {
    @apply mx-auto;
  }
  div[id^="modal-container-sm"] .modal-icon {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-sm"] .modal-close {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-sm"].show-modal {
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-sm"] .modal-container, div[id^="sidebar"] .modal {
    @apply h-full;
  }
  div[id^="modal-container-sm"] .content {
    @apply sticky top-0;
  }
}

@screen md {
  div[id^="modal-container-md"] {
    @apply static inset-auto bg-transparent bg-opacity-100 visible opacity-100;
    width: auto;
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-md"] .modal {
    @apply static bg-transparent rounded-none p-0 inset-auto w-full h-full;
    transform: none;
  }
  div[id^="modal-container-md"] .modal .content {
    @apply mx-auto;
  }
  div[id^="modal-container-md"] .modal-icon {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-md"] .modal-close {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-md"].show-modal {
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-md"] .modal-container, div[id^="sidebar"] .modal {
    @apply h-full;
  }
  div[id^="modal-container-md"] .content {
    @apply sticky top-0;
  }
}

@screen lg {
  div[id^="modal-container-lg"] {
    @apply static inset-auto bg-transparent bg-opacity-100 visible opacity-100;
    width: auto;
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-lg"] .modal {
    @apply static bg-transparent rounded-none p-0 inset-auto w-full h-full;
    transform: none;
  }
  div[id^="modal-container-lg"] .modal .content {
    @apply mx-auto;
  }
  div[id^="modal-container-lg"] .modal-icon {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-lg"] .modal-close {
    @apply float-none hidden !important;
  }
  div[id^="modal-container-lg"].show-modal {
    transform: none;
    transition: all 0s ease 0s;
  }
  div[id^="modal-container-lg"] .modal-container, div[id^="sidebar"] .modal {
    @apply h-full;
  }
  div[id^="modal-container-lg"] .content {
    @apply sticky top-0;
  }
}
/*----------Sidebar Stars-rating----------*/
#stars .star {
  @apply text-gray-300 px-1 text-lg float-left;
}
#stars input:nth-child(1):hover ~ label:nth-of-type(-n + 1),
#stars input:nth-child(2):hover ~ label:nth-of-type(-n + 2),
#stars input:nth-child(3):hover ~ label:nth-of-type(-n + 3),
#stars input:nth-child(4):hover ~ label:nth-of-type(-n + 4),
#stars input:nth-child(5):hover ~ label:nth-of-type(-n + 5) {
  @apply text-yellow-600 !important;
}
#stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1),
#stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2),
#stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3),
#stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4),
#stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
  @apply text-yellow-500;
}
/*----------Restaurantlist----------*/
.restaurant-item {
  @apply flex py-2;
}
@screen sm {
  .restaurant-item {
    @apply h-32 p-2 py-4;
  }
}
@screen md {
  .restaurant-item {
    @apply h-40 p-4 py-8;
  }
}
.restaurant-item:hover {
  @apply bg-gray-100;
}
.restaurant-item .rating {
  @apply inline-block bg-yellow-200 text-yellow-800 rounded-full px-2 py-1;
}
@screen md {
  .restaurant-image {
    @apply relative;
  }
}
.restaurant-image {
  @apply mr-2;
}
.restaurant-image img {
  @apply hidden;
}
@screen sm {
  .restaurant-image img {
    @apply block object-contain h-full w-32;
  }
}
.restaurant-image .rating {
  @apply absolute block right-0 bottom-0;
}
.restaurant-item .title {
  @apply uppercase font-semibold text-gray-800 inline-block;
}
@screen sm {
  .restaurant-item .title {
    @apply mb-2;
  }
}
.restaurant-item .tags {
  @apply leading-tight text-gray-700 font-semibold;
}
.restaurant-item .address {
  @apply text-gray-600 font-semibold;
}

.opening-hours {
  @apply bg-red-200 rounded-full px-2 py-1 text-red-800 font-semibold hidden;
}
.opening-hours.open {
  @apply text-green-800 bg-green-200;
}
.opening-hours.semi {
  @apply text-orange-800 bg-orange-200;
}
.opening-hours span::after {
  content: 'Geschlossen';
}
.opening-hours.open span::after {
  content: 'Offen';
}
.opening-hours.semi span::after {
  content: 'Schließt bald';
}
@screen md {
  .opening-hours {
    @apply inline-block;
  }
}

.tracking {
  @apply hidden !important;
}
@screen sm {
  .tracking {
    @apply inline-block !important;
  }
}
.tracking {
  @apply text-gray-400 ml-2 !important;
}
.tracking.available {
  @apply text-proprietary-500 !important;
}
/*----------Accordion----------*/
.accordion input[type="checkbox"] {
  @apply hidden;
}
.accordion .content {
  @apply overflow-hidden px-2 text-gray-600 font-medium;
  max-height: 0;
  transition: 0.5s;
}
.accordion .subtitle {
  @apply text-gray-700 pt-2 pb-1 text-center;
}
@screen sm {
  .accordion .subtitle {
    @apply text-left;
  }
}
.accordion .handle {
  @apply text-gray-800 cursor-pointer font-semibold text-lg py-1;
}
.accordion .handle:hover {
  @apply text-gray-700;
}
.accordion .handle:active {
  @apply text-gray-700;
}

.accordion .handle:after {
  @apply float-right font-black;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f053";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  transition: 0.4s;
}

.accordion > input[type="checkbox"]:checked ~ label .handle:after {
  transform: rotate(-90deg);
  transform-origin: center;
  transition: 0.4s;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  max-height: 30rem;
  transition: max-height 0.5s linear;
}
/*----------Tippy-Box----------*/
.tippy-box {
  @apply bg-gray-800 text-gray-300;
}
/*----------Image-Swiper----------*/
.image-swiper {
  height: 350px;
}
.image-swiper {
  height: 150px;
  max-height: 30vh;
}
@screen sm {
  .image-swiper {
    height: 200px;
    max-height: 40vh;
  }
}
@screen md {
  .image-swiper {
    height: 250px;
  }
}
@screen lg {
  .image-swiper {
    height: 300px;
  }
}

.image-swiper .swiper-slide {
  @apply bg-cover bg-center h-full w-full;
}
.image-swiper .swiper-slide.first {
  background-image: url("../img/slider/gourmeda1.jpg");
}
.image-swiper .swiper-slide.second {
  background-image: url("../img/slider/gourmeda2.jpg");
}
.image-swiper .swiper-slide.third {
  background-image: url("../img/slider/gourmeda3.jpg");
}
.image-swiper .swiper-slide.fourth {
  background-image: url("../img/slider/gourmeda4.jpg");
}
.image-swiper .swiper-slide.fifth {
  background-image: url("../img/slider/pizza.jpeg");
}
.image-swiper .swiper-slide.sixth {
  background-image: url("../img/slider/gourmeda7.jpg");
}

.recommended-swiper .logo {
  @apply w-64 mx-auto;
}
.recommended-swiper .logo img {
  @apply object-contain;
}
.recommended-swiper h3, .recommended-swiper p {
  @apply text-center;
}
@screen md {
  .recommended-swiper .logo {
    @apply w-full m-0;
  }
  .recommended-swiper h3, .recommended-swiper p {
    @apply text-left;
  }
}
.recommended-swiper {
  @apply mx-auto;
}
/*----------Restaurant-Menü----------*/
.speisen-title {
  @apply mt-4 ml-2 text-gray-800 font-semibold uppercase;
}
.speisen-item {
  @apply flex flex-row items-end justify-between py-2;
}
@screen sm {
  .speisen-title {
    @apply mt-8 ml-4;
  }
  .speisen-item {
    @apply flex flex-row items-end justify-between p-4;
  }
}
.speisen-item:hover {
  @apply bg-gray-100;
}
.speisen-item .title {
  @apply font-semibold;
}
.speisen-item .subtitle {
  @apply font-semibold;
}
.speisen-item .speisen-content {
  @apply text-gray-700;
}
.speisen-item .preis span::after {
  content: '€';
}
.speisen-item .preis, .speisen-item .preis span {
  @apply text-gray-700 font-semibold text-lg;
}
.speisen-item .preis:hover, .speisen-item .preis span:hover {
  @apply text-gray-800;
}

#pepper {
  @apply text-gray-400 px-1 text-lg float-left;
}
#pepper input:nth-child(1):hover ~ label:nth-of-type(-n + 1) {
  @apply text-green-600 !important;
}
#pepper input:nth-child(2):hover ~ label:nth-of-type(-n + 2) {
  @apply text-orange-400 !important;
}
#pepper input:nth-child(3):hover ~ label:nth-of-type(-n + 3) {
  @apply text-orange-500 !important;
}
#pepper input:nth-child(4):hover ~ label:nth-of-type(-n + 4) {
  @apply text-orange-600 !important;
}
#pepper input:nth-child(1):checked ~ label:nth-of-type(-n + 1) {
  @apply text-green-600;
}
#pepper input:nth-child(2):checked ~ label:nth-of-type(-n + 2) {
  @apply text-proprietary-300;
}
#pepper input:nth-child(3):checked ~ label:nth-of-type(-n + 3) {
  @apply text-proprietary-400;
}
#pepper input:nth-child(4):checked ~ label:nth-of-type(-n + 4) {
  @apply text-proprietary-500;
}
/*----------Allergenes----------*/
.allergenes {
  @apply inline-block rounded-sm bg-proprietary-500 text-red-100 text-sm;
}
.allergenes::after {
  @apply m-1;
}
.allergenes.A::after {
  content: 'A';
}
.allergenes.B::after {
  content: 'B';
}
.allergenes.C::after {
  content: 'C';
}
.allergenes.D::after {
  content: 'D';
}
.allergenes.E::after {
  content: 'E';
}
.allergenes.F::after {
  content: 'F';
}
.allergenes.G::after {
  content: 'G';
}
.allergenes.H::after {
  content: 'H';
}
.allergenes.L::after {
  content: 'L';
}
.allergenes.M::after {
  content: 'M';
}
.allergenes.N::after {
  content: 'N';
}
.allergenes.O::after {
  content: 'O';
}
.allergenes.P::after {
  content: 'P';
}
.allergenes.R::after {
  content: 'R';
}
/*----------Scrollspy----------*/
.cart .cart-title {
  @apply text-gray-700 font-semibold break-all;
}
.cart .cart-item {
  @apply my-2;
}
.cart .cart-item .cart-preis {
  @apply text-gray-700;
}
.cart .cart-item button {
  @apply text-gray-600;
}
.cart .cart-item .cart-item-edit:hover {
  @apply text-orange-500;
}
.cart .cart-item .cart-item-remove:hover {
  @apply text-red-500;
}

.cart .cart-item .cart-delivery-title .fa-car {
  @apply text-gray-600;
}
.cart .cart-item .delivery-title span {
  @apply text-gray-700 font-semibold;
}
.cart .cart-item .delivery-preis {
  @apply text-gray-700;
}
/*----------Scrollspy----------*/
.scrollspy-link {
  @apply my-2 text-gray-600 font-semibold;
}

@tailwind utilities;